html, body {
    margin: 0px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-family: 'Inter';
    color: white;
    background-color: rgb(50, 140, 160);
}

.rectangule1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 550px;
    height: 260px;

    background-image: linear-gradient(
  30deg,
  hsl(240deg 100% 20%) 0%,
  hsl(298deg 100% 21%) 15%,
  hsl(324deg 100% 32%) 30%,
  hsl(336deg 100% 42%) 44%,
  hsl(0deg 93% 61%) 58%,
  hsl(24deg 100% 57%) 72%,
  hsl(42deg 100% 50%) 86%,
  hsl(55deg 100% 50%) 100%
);
background-repeat:no-repeat }


.rectangule2{
    
    width: 550px;
    height: 300px;
    background:  #1F2937;
    border-color: blue;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    
    }


.rectangule2 p1, p3, p5{
    font-weight: 600;
    color: aqua;
}

input {
    height: 80px;
    width: 150px; 
    background-color:transparent;
    border: 0;
   
    font-size: 50px;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
    color: white;
   
 }

button{
    
    background-color:transparent;
    border: 10;
    height: 40px;
    width: 100px;   
    font-size: 20px;
    text-align: center;
    color: white;
} 